* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", sans-serif;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  background-color: #a3cef1;
}

.logo {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 100px;
}

.main-content {
  display: grid;
  place-items: center;
  /* min-height: 80vh; */
  height: auto;
}

  .main-content-holder {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    border-radius: 15px;
    width: 70%;
    gap: 20px;
    height: auto;
  }

    .left-content {
      display: grid;
      color: #4b7172;
      font-size: 15px;
      font-weight: 700;
      grid-template-rows: 80px 160px 80px;
    }

      .dollar-sign {
        display: grid;
        margin-left: 10px;
        align-items: center;
      }

      .bill-total {
        display: grid;
        justify-content: end;
        margin-right: 20px;
        align-items: center;
        font-size: 20px;
        font-weight: 800;
        color: #00474b;
      }

      .people-placeholder {
        background-image: url('./images/icon-person.svg');
        background-repeat: no-repeat;
        background-position: 12px center;
        border:2px solid transparent;
        margin-top: 5px;
        border-radius: 5px;
        background-color: #f3f8fb;
        min-height: 5vh;
        text-align: end;
        padding-right: 10px;
        font-size: 20px;
        font-weight: 800;
        color: #274c77;

      }

      .bill-placeholder {
        background-image: url('./images/icon-dollar.svg');
        background-repeat: no-repeat;
        background-position: 12px center;
        border: 2px solid transparent;
        margin-top: 5px;
        border-radius: 5px;
        background-color: #f3f8fb;
        min-height: 5vh;
        text-align: end;
        padding-right: 10px;
        font-size: 20px;
        font-weight: 800;
        color: #274c77;
      }

      .bill-placeholder:focus, .people-placeholder:focus {
        outline: none;
        border-color: #26c2ad;
      }

      .bill-content {
        display:grid;
        align-items: center; 
      }
      
      .select-tip {
        display: grid;
        align-items: center;
      }
        
        .tip-percentage {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 10px;
        }

          .tip-button {
            border: transparent;
            background-color: #274c77;
            color: white;
            padding: 8px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 500;
          }

          .tip-button.active {
            background-color: #80ced7;
            color: #274c77;
          }

          .tip-custom {
            background-color: #f3f8fb;
            border: transparent;
            padding: 8px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 500;
            color: #8fa2a2;
            min-width: 0;
            text-align: center;
          }

      .people-num {
        display:grid;
        align-items: center;
      }

    

    .right-content {
      background-color: #274c77;
      border-radius: 10px;
      padding: 30px;
      display : grid;
      grid-template-rows: 1fr 1fr 1fr;
    }

    .tip-amount-holder{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

      .tip-amount {
        
      }

        .guide-header {
          font-size: 15px;
          font-style: bold;
          color: white;
        }

        .guide-subheader {
          font-size: 13px;
          color: #8fa2a2;
        }

      .tip-total {
        display: grid;
        color: #80ced7;
        font-weight: 900;
        font-size: 35px;
        justify-content: end;
      }
    
    .button-reset {
      margin: 20px;
      border-radius: 5px;
      border: transparent;
      color: #274c77;
      font-size: 15px;
      font-weight: 900;
      background-color: #80ced7;
    }


@media (max-width: 430px) {
  .main-content {
    min-height: 100%;
    place-items: start;
  }

  .logo {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .main-content-holder {
    grid-template-columns: 1fr;
    width: 100%;
    min-height: 86vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .right-content {
    padding: 20px;
    grid-template-rows: auto auto auto;
  }

  .left-content {
    display: grid;
    grid-template-rows: auto auto auto;
  }
}
